@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins&family=Roboto:wght@100&family=Source+Sans+Pro&display=swap');

*{
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: var(--clr-gray)
}

:root{
    --Poppins-font:"Poppins";
    --Roboto-font:"Roboto";
    --Montserrat-font:"Montserrat";
    --SSPro-font:"Source Sans Pro";
    --bggradient-header: linear-gradient(99.89deg, #81C0E8 -0.49%, #4732DC 98.8%); 
    --bggradient-footer: linear-gradient(263.56deg, #4732DC 1.74%, #3C0F84 99.77%);
    --clr-primary: #651fff;
    --clr-gray: #37474f;
    --clr-gray-light: #b0bec5;
    
}


 /* header and navbar*/
header {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    background: var(--bggradient-header);
}
.box-shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header-mask {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
.vb-header-hero-img{
    display:block;
}
.header-hero-img {
    position: absolute;
    top: 0;
    right: 10vw;
    width: 300px;
    height: auto;
    z-index: 3;
    filter: drop-shadow(0px 10px 3px black); 
}
.hero-text{
    max-width: 420px;
    margin-top: 40px;
    font-family: var(--Poppins-font);
}
.hero-text h1{
    overflow: hidden;
    color: white;
}
.hero-text p{
    color: white;
}

#Discord-btn{
    overflow: hidden;
    background: #FFFFFF;
    color: black;
    border-radius: 50px;
    margin-left: 20px;

}
#Go-Fund-Me-btn{
    overflow: hidden;
    background: #FFFFFF;
    color: black;
    font-family: var(--Poppins-font);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

#Google-Form-btn{
    overflow: hidden;
    background-color: #272B31;
    color: #FFFFFF;
    font-family: var(--Poppins-font);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

/* features(steps) */
h1, a{
    overflow: hidden;
}

.resize-steps{
    width: 300px; /* you can use % */
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 20px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    margin-top: 10px;
}

#grid-steps{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    max-width: 700px;
    margin: auto;
    padding: 1.5rem;
}

#grid-steps1{
    padding: 15%;
    
    
}

/* meet the team */
.wrapper-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#row{
    margin-left: 40%;
}

.container-team {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    width: 280px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}


.profile-img {
    width: 8rem;
    clip-path: circle(53px at center);
}
.icon-img {
    width: 5rem;
    border-radius: 5px;
    margin-top: 15px;
}

.name {
    font-weight: bold;
    font-size: 1.5rem;
}

.description {
    margin: 1rem 2rem;
    font-size: 0.9rem;
}

.about-text{
    min-height: 30vh;
    font-size: 20px;
}
.about-img{
    width: 400px;
    height: auto;
    min-height: 50px;
    border-radius: 10px;
    padding: 0;
    border-color: none;
}


/* .blue-line{
    width: 80%;  
    height: 2px;  
    background-color: pink;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 9px;  
    border-width: 4px;  
    border-color: blue;  
    border-color: #4390EA; 
}*/

footer{
    background: var(--bggradient-footer);
}

#mask-footer{
    margin-top: 0;
}

#footer-container{
position: relative;
text-align: center;
}

.social{
    position: absolute;
    bottom: 40px;
    right: 90px;
}

.social h1{
    color: white;
}

.social img{
    width: 40px;
    height: 40px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
.mg-bottom{
    margin: 20px;
}



@media screen and (max-width: 767px){
    .vb-header-hero-img{
        display: none;
    }
    .social{
        position: absolute;
        bottom: 20px;
        right: 45px;
    }
    .social h1{
        color: white;
        font-size: small;
    }
    
    .social img{
        width: 30px;
        height: 30px;
    }
    #grid-steps{
        grid-template-columns: 1fr;
    }

}
